<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<title><%= title %></title>

<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<script src="https://use.fontawesome.com/d4a3453597.js"></script>