<ul class="navbar_top">
    <li><a href="/"><span style="color:white;">mgt</span><span style="color: white;">faq</span><i style="color: black; margin-left: 10px;" class="fa fa-video-camera" aria-hidden="true"></i></a></li>
    <li style="float: right;"><a style="color: white;">Contact</a></li>
</ul>