<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        
        <div>
            <h1 style="font-size: 90px; font-family: 'Roboto', sans-serif; margin: auto; text-align: center; width: 80%; margin-top: 30px;">Sorry!<br><br>This isn't the page that you're looking for!</h1>
        </div>

        <% include partials/scripts.ejs %>
    </body>
</html>